<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Education Journey</title>
   <style>
  body
  {
      /*background-image: url(Astro1.2.jpg);*/
      background-image: url("{{ url_for('static', filename='Astro1.2.jpg') }}");
      background-size: cover;  /*Cover the entire viewport */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
  }
  p
  {
    font-family: "Times New Roman";
    font-size: 24px;
    color: white;
    text-align: center;
    /*background-color: lightcyan;*/
    background-color:rgba(255, 99, 71, 0.4);">rgba(255, 99, 71, 0.4)
  }
  </style>
</head>
<body>
<h1 style="text-align:center;background-color:powderblue;">Education Journey</h1>
<h2 style="background-color:lightgreen;text-align: center;font-size: 30px;">Story</h2>
<p>Picture it—2012, Betelhem School, lunchtime. I found myself
  sitting across from my close friend Ezra, a neighbor from the
  communal heart of our condominium life. Our meals were more than
  just a time for nourishment; they were an open forum for the dreams
  that lingered on the peripheries of our young minds. During one such
  meal, Ezra posed a question that would upend the very fabric of
  my reality: "What do you aspire to be in the future?" At that
  moment, I was a blank canvas, unsure of the portrait I wished
  to paint for my life.</p>
<p>Ezra, with a gleam in his eyes, revealed his aspiration to
  become an astronaut&mdash;a declaration so outlandish and unfamiliar
  that I had to commit it to memory to explore later. In the words
  of Carl Sagan, "Imagination will often carry us to worlds that
  never were. But without it, we go nowhere." And so, stirred by
  curiosity and the limitations of my own imagination, my life
  took an unexpected turn.</p>
<p>As fate would have it, a simple mirror would catalyze this journey.
  I chanced upon a mirror that refracted sunlight onto the ground,
  its focused beam hot to the touch. Placing a leaf beneath this concentrated
  spotlight, I watched in awe as it pierced through, leaving a hole.
  A revelation unfurled within me&mdash;could I too become a person who explores
  the uncharted landscapes of the universe, from the celestial bodies that
  orbit Earth to the mysteries beyond our galaxy?</p>
<p>The universe is a vast expanse, home to known and unknown elements, explored
  and unexplored territories. While many are content with understanding
  the phenomena within our planet, I felt an unquenchable thirst to fathom
  what lies beyond Earth. It was the quintessential lightbulb moment:
  Why not become an astronaut? To echo the sentiments of astronaut Sally Ride,
  "You can&apos;t be what you can&apos;t see." But that day, I saw it, clear as the light
  I held in my hand&mdash;I could become an astronaut.</p>
<p>In the subsequent days, I shared this newfound vision with Ezra. He tried to dampen my
  enthusiasm, suggesting the arduous path that lay ahead. Ironically, his
  skepticism fueled my ambition, catapulting me into a determination vortex.
  "Our greatest glory is not in never falling, but in rising every time we
  fall," said Confucius, and rise I did. Ezra moved away, and our lives
  ventured on diverging paths. I migrated to the United States, where dreams
  are woven into the very fabric of its flag, and we never spoke again.</p>
<p>My ambition to become part of something groundbreaking like NASA, Rocket Lab,
  or SpaceX was a daunting mission, but I was propelled by the idea that
  “impossible is just an opinion,” as Paulo Coelho states. I envisioned three
  primary reasons to embark on this cosmic journey.</P>
<p>Firstly, I was driven by the harrowing accounts of astronauts lost in space.
  A scientific inquiry beckoned—what were the underlying causes, and how could
  future explorations preempt such catastrophes? Secondly, my dreams extended
  to the very soil of extraterrestrial planets. Could we find life elsewhere?
  If not, could we create sustainable ecosystems on uninhabited planets through
  innovative technology?</p>
<p>Lastly, I envisioned the extraction of invaluable resources from celestial
  bodies, resources that could revolutionize our industries and energy
  solutions on Earth. In the simplest terms, I wanted to rewrite history,
  challenge norms, and expand the realm of possibilities. I wanted to be an
  aerospace engineer first, laying the ground rules, before catapulting myself
  into space, physically embodying the dreams once scribbled on the margins of
  my school notebooks.</p>
<p>Sometimes, I catch myself pondering&mdash;had I pursued this path, where
  might I be today? But no matter the course, the essential fact remains that
  dreams are the stepping stones of reality. And as I inch closer to making mine
  a reality, I am filled with an overwhelming sense of pride.</p>
<p>In retrospect, the voyage from a young boy in Addis Ababa, innocently
  intrigued by the piercing light of a simple mirror, to a man envisioning
  a future in the great beyond of space encapsulates the transformative power
  of education and ambition. The realms of science, mathematics, and community
  shaped not just a career path but a life's mission. Like a rocket ship on the
  launch pad, I was fueled by aspirations, propelled by curiosity, and aimed
  towards the vast, endless possibilities of the cosmos. What began as a mere
  speck of a dream, barely visible on the grand tapestry of youthful aspiration,
  has blossomed into an unwavering sense of purpose and a relentless pursuit of
  knowledge. This journey—peppered with challenges, choices, and changes—stands
  as a testament to the wisdom of Robert Frost, who once said, "Two roads
  diverged in a wood, and I&mdash; I took the one less traveled by, and that has made
  all the difference." As I reflect on my educational history, it's apparent
  that the choices made in the classrooms and hallways of Betelhem School, Jiva
  High School, college, and ultimately UCLA, have paved a winding, uphill road
  toward not just career goals but towards a life imbued with meaning and
  potential. I am ever-thankful for the tapestry of experiences, people, and
  opportunities that have shaped me, for they have all contributed to the rich,
  complex narrative that I call my life.</p>
<!--
<div style="text-align: center;">
  <a href="Experiance.html" style="margin-right: 20px; font-size: 24px; color: red;">Next</a>
  <a href="History.html" style="margin-right: 20px; font-size: 24px; color: red;">Previous</a>
  <a href="AI_web.html" style="font-size: 24px; color: red;">Back to Home</a>
</div>-->
<div style="text-align: center;">
  <a href="{{ url_for('experience') }}" style="margin-right: 20px; font-size: 24px; color: red;">Next</a>
  <a href="{{ url_for('history') }}" style="margin-right: 20px; font-size: 24px; color: red;">Previous</a>
  <a href="{{ url_for('ai_web') }}" style="font-size: 24px; color: red;">Back to Home</a>
</div>
</body>
</html>
